body{
    background-color: black;
    overflow: hidden;
    font-family: 'Press Start 2P', cursive;
}

img{
    width: 25vw;
    transition: width 0.5s;
}

.container{
    box-shadow: 0 0 15px 5px white;
    background-image: url("https://64.media.tumblr.com/59fd3cd91939a427cac708b992cad301/tumblr_ohx2xpUsAJ1v1vxovo1_1280.gifv");
    background-size: cover;
    background-position: center;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    margin: 0px;
    position: absolute;
    background-color: aqua;
    border: 0px solid red;
    border-radius: 10px;
}

.button{
    position: absolute;
    background-color: white;
    margin: 5px;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    display: inline-block;
    border: 0px solid darkred;
    border-radius: 10px;
    font-size: 2.5vw;
    color: black;
    box-shadow: 5px 5px 10px 5px black;
}

#juego{
    top: 10px;
    left: 10px;
}

#tienda{
    top: 10px;
    right: 10px;
}

#pinwi{
    position: absolute;
    /* border: 1px solid red; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#name{
    position: absolute;
    color: azure;
    /* border: 1px solid red; */
    font-size: 6.5vw;
    left:50%;
    top: 10% ;
    transform:translate(-50%, 0) ;
    transition: top 0.25s;
    text-shadow: 0px 0px 20px black;
    /* animation: sizing 1s ease-in-out 0s infinite alternate; */
}

#exp{
    position: absolute;
    color: yellow ;
    font-size: 2rem;
    bottom:35px;
    left: 80%;
    transform:translate(-50%, 0) ;
    text-shadow: 0px 0px 10px black;
}

#lvl{
    position: absolute;
    color: white ;
    font-size: 3rem;
    bottom:50px;
    left: 50%;
    transform:translate(-50%, 0) ;
    text-shadow: 0px 0px 10px black;
}
/*
@keyframes sizing {
    from {font-size: 6.5vw;}
    to {font-size: 8vw;}
}
*/