body{
    background-color: black;
    color: white ;
}

.grid-container{
    display: grid;
    border: 4px solid red;
    width: 80%;
    padding: 20px;
    margin: 50px auto;
    grid-gap: 20px;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-around;
}

.box{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    border: 2px solid white;
    width: 10vw;
    height: 10vw;
    text-align: center;
    transition: box-shadow 1s, background-color 1s;
}

.box:hover{
    background-color: thistle;
    box-shadow: whitesmoke 5px 5px 10px;
}

.back{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 2rem;
    width: 10px;
}

img{
    position: relative;
    top: 0%;
    width: 100%;
    left: 0%;
}